.centerThisVertical {
    top: 50%;
    -webkit-transform: translateY(-50%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translateY(-50%); /* IE 9 */
    transform: translateY(-50%); /* IE 10, Fx 16+, Op 12.1+ */
    position: absolute;
}

.centerThisHorizontal {
    left: 50%;
    -webkit-transform: translateX(-50%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translateX(-50%); /* IE 9 */
    transform: translateX(-50%); /* IE 10, Fx 16+, Op 12.1+ */
    position: absolute;
}

.centerThis {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    transform: translate(-50%, -50%); /* IE 10, Fx 16+, Op 12.1+ */
    position: absolute;
}



html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
    background-color: #efefef;
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 600px;
    overflow: hidden;
    color: #fff;
}

p {
    margin: 0;
    padding: 0;
}


#container {
    position: absolute;
    width: 300px;
    height: 600px;
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
    background-color: #000000;
}

#black-fader {
    position: absolute;
    z-index: 9998;
    width: 300px;
    height: 600px;
    pointer-events: none;
    background-color: #000000;
}

#canvas {
    position: absolute;
    z-index: 1;
}

#banner_border {
    z-index: 99999;
    position: absolute;
    border: 1px solid #666666;
    width: 300px;
    height: 600px;
    pointer-events: none;
}

.full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999
}

#copy-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.copy {
    font-family: 'FiatAdvert-Euro', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.header {
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
	font-family: 'FiatAdvert-Euro', Arial, sans-serif;
}

.subheader {
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.1;
}

sup{
    font-size: 7px !important;
    vertical-align:super;
}

#title1-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 19px;
    pointer-events: none;
    letter-spacing: 1px;
    text-align: left;
}
#title8-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 19px;
    font-size: 19px;
    pointer-events: none;
    letter-spacing: 1px;
    text-align: left;
}
#subtitle-line8-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 65px;
    left: -60px;
    font-size: 12px;
    pointer-events: none;
    letter-spacing: -0.1px;
    font-weight: 400;
}
#subtitle-line1-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30px;
    pointer-events: none;
}

#title2-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 22px;
    pointer-events: none;
    color: #244057;
    
}

#subtitle-line2-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 187px;
    pointer-events: none;
    color: #244057;
}

#title3-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 42px;
    pointer-events: none;
    color: #f4f0de;
    opacity: 0;
}

#subtitle-line3-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 187px;
    pointer-events: none;
    color: #f4f0de;
}

#subtitle-line3 div:nth-child(3) {
    font-size: 7px !important;
    vertical-align: super;
    margin-left: -4px;
    margin-top: 0px;
    display: inline-block;
}

#subtitle-line4 div:nth-child(3) {
    font-size: 7px !important;
    vertical-align: super;
    margin-left: -4px;
    margin-top: 0px;
    display: inline-block;
}

#subtitle-line5 div:nth-child(3) {
    font-size: 7px !important;
    vertical-align: super;
    margin-left: -4px;
    margin-top: 0px;
    display: inline-block;
}

#subtitle-line6 div:nth-child(3) {
    font-size: 7px !important;
    vertical-align: super;
    margin-left: -4px;
    margin-top: 0px;
    display: inline-block;
}

#subtitle-line7 div:nth-child(3) {
    font-size: 7px !important;
    vertical-align: super;
    margin-left: -4px;
    margin-top: 0px;
    display: inline-block;
}


#title4-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 42px;
    pointer-events: none;
    color: #244057;
    opacity: 0;
}

#subtitle-line4-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 187px;
    pointer-events: none;
    color: #244057;
    letter-spacing: 0.5px;
}

#title5-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 42px;
    pointer-events: none;
    color: #f4f0de;
    opacity: 0;
}

#subtitle-line5-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 187px;
    pointer-events: none;
    color: #f4f0de;
}

#title6-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 42px;
    pointer-events: none;
    color: #244057;
    opacity: 0;
}

#subtitle-line6-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 187px;
    pointer-events: none;
    color: #244057;
    letter-spacing: 0.5px;
}

#title7-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 42px;
    pointer-events: none;
    color: #f4f0de;
    opacity: 0;
}

#subtitle-line7-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 187px;
    pointer-events: none;
    color: #f4f0de;
}

.cta {
    font-size: 11px;
    color: #FFF;
    padding: 8px 18px;
    text-transform: uppercase;
    font-family: 'FiatAdvert-Euro', Arial, sans-serif;
    width: 130px;
    height: 29px;
    bottom: 139px;
    right: 89px;
    background: #990033;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.cta:hover {
    background-color: #000;
}

.logo {
    position: absolute;
    opacity: 0;
}

#logo {
    height: 52px;
    opacity: 0;
    top: 198px;
}

#logo-fca {
    height: 14px;
    bottom: 14px;
    left: 67px;
}

#terms {
    font-size: 8px;
    color: #999;
    padding: 10px 20px;
    width: 100%;
    position: absolute;
    bottom: 12px;
    font-family: "Arial", sans-serif;
    text-align: center;
    right: 0px;
    letter-spacing: 0.25px;
    line-height: 1;
}

 /* #terms:after {
    position: absolute;
    content: "";
    width: 38px;
    height: 7px;
    background: transparent url('../img/leasys.png') no-repeat;
} */

#terms:before {
    content:"*";
    margin-left: -3px;
    position: absolute;
} 

#terms1 {
    font-size: 7px;
    color: #333333;
    padding: 5px 7px;
    position: absolute;
    bottom: 5px;
    font-family: "Arial", sans-serif;
    opacity: 0;
}

#terms_cta {
    font-size: 8px;
    color: #333333;
    padding: 5px 7px;
    position: absolute;
    bottom: 27px;
    right: -1px;
    font-family: 'FiatAdvert-Euro', Arial, sans-serif;
}

#terms1:before {
    content:"†";
    margin-left: -3px;
    margin-top: -1px;
    font-size: 5px;
    position: absolute;
    vertical-align:super;
} 

#leasys{
    position: absolute;
    right: 190px;
    bottom: 4px;
    width: 55px;
    opacity: 0;
}

#befree{
    position: absolute;
    right: 30px;
    bottom: 10px;
    width: 55px;
    opacity: 0;
}

#befree_white{
    position: absolute;
    right: 30px;
    bottom: 10px;
    width: 55px;
}

#image1{ 
    width: 300px; 
    height: 600px;
    position: absolute;
    } 



.tire {
    position: absolute; 
    background: transparent; 
    width: 70px; 
    height: 70px; 
    left: 0; 
    bottom: 0;
}

.tire_spin {
    position: absolute; 
    background: transparent; 
    width: 70px; 
    height: 70px; 
    left: 0; 
    top: 0; 
}

.tire_start { 
    position: absolute; 
    background: transparent url('../img/spider_wheel.png') right 0 no-repeat; 
    width: 70px; 
    height: 70px;
}

.tire_mid { 
    position: absolute; 
    background: transparent url('../img/spider_wheel.png') right -70px no-repeat; 
    width: 70px; 
    height: 70px; 
}

.tire_end { 
    position: absolute; 
    background: transparent url('../img/spider_wheel.png') right -140px no-repeat; 
    width: 70px; 
    height: 70px;
    top: 1px; 
}

#tire_front {  
    position: absolute; 
    left: 194px;
    bottom: 46px;
    -webkit-transform: scale(.45,.45); 
}

#tire_back { 
    position: absolute; 
    left: 34px;
    bottom: 46px;
    -webkit-transform: scale(.45,.45); 
}


/* Fiat 500L */


#base1{ 
    background: transparent url('../img/base_500l.png') no-repeat; 
    width: 300px; 
    height: 250px;
    background-size: 300px 250px;
    position: absolute;
    top: 171px;
    } 



.tire1 {
    position: absolute; 
    background: transparent; 
    width: 70px; 
    height: 70px; 
    left: 0; 
    bottom: 0;
}

.tire_spin1 {
    position: absolute; 
    background: transparent; 
    width: 70px; 
    height: 70px; 
    left: 0; 
    top: 0; 
}

.tire_start1 { 
    position: absolute; 
    background: transparent url('../img/spider_wheel.png') right 0 no-repeat; 
    width: 70px; 
    height: 70px;
}

.tire_mid1 { 
    position: absolute; 
    background: transparent url('../img/spider_wheel.png') right -70px no-repeat; 
    width: 70px; 
    height: 70px; 
}

.tire_end1 { 
    position: absolute; 
    background: transparent url('../img/spider_wheel.png') right -140px no-repeat; 
    width: 70px; 
    height: 70px;
    top: 1px; 
}

#tire_front1 {  
    position: absolute; 
    left: 194px;
    bottom: 46px;
    -webkit-transform: scale(.45,.45); 
    transform: scale(0.45,.45);
}

#tire_back1 { 
    position: absolute; 
    left: 34px;
    bottom: 46px;
    -webkit-transform: scale(.45,.45); 
    transform: scale(0.45,.45);
}

/* Fiat 500L */
/* Fiat 500 */

#base2{ 
    background: transparent url('../img/base_500.png') no-repeat; 
    width: 300px; 
    height: 250px;
    background-size: 300px 250px;
    position: absolute;
    top: 171px;
    } 



.tire2 {
    position: absolute; 
    background: transparent; 
    width: 70px; 
    height: 70px; 
    left: 0; 
    bottom: 0;
}

.tire_spin2 {
    position: absolute; 
    background: transparent; 
    width: 70px; 
    height: 70px; 
    left: 0; 
    top: 0; 
}

.tire_start2 { 
    position: absolute; 
    background: transparent url('../img/500_wheel.png') right 0 no-repeat; 
    width: 70px; 
    height: 70px;
}

.tire_mid2 { 
    position: absolute; 
    background: transparent url('../img/500_wheel.png') right -70px no-repeat; 
    width: 70px; 
    height: 70px; 
}

.tire_end2 { 
    position: absolute; 
    background: transparent url('../img/500_wheel.png') right -140px no-repeat; 
    width: 70px; 
    height: 70px;
    top: 1px; 
}

#tire_front2 {  
    position: absolute; 
    left: 184px;
    bottom: 54px;
    -webkit-transform: scale(.4,.4);
    transform: scale(.4,.4); 
}

#tire_back2 { 
    position: absolute; 
    left: 49px;
    bottom: 54px;
    -webkit-transform: scale(.4,.4); 
    transform: scale(.4,.4); 
}

/* Fiat 500 */
/* Fiat 500 SUV */

#base3{ 
    background: transparent url('../img/base_500suv.png') no-repeat; 
    width: 300px; 
    height: 250px;
    background-size: 300px 250px;
    position: absolute;
    top: 171px;
    } 



.tire3 {
    position: absolute; 
    background: transparent; 
    width: 70px; 
    height: 70px; 
    left: 0; 
    bottom: 0;
}

.tire_spin3 {
    position: absolute; 
    background: transparent; 
    width: 70px; 
    height: 70px; 
    left: 0; 
    top: 0; 
}

.tire_start3 { 
    position: absolute; 
    background: transparent url('../img/500suv_wheel.png') right 0 no-repeat; 
    width: 70px; 
    height: 70px;
}

.tire_mid3 { 
    position: absolute; 
    background: transparent url('../img/500suv_wheel.png') right -70px no-repeat; 
    width: 70px; 
    height: 70px; 
}

.tire_end3 { 
    position: absolute; 
    background: transparent url('../img/500suv_wheel.png') right -140px no-repeat; 
    width: 70px; 
    height: 70px;
    top: 1px; 
}

#tire_front3 {  
    position: absolute; 
    left: 190px;
    bottom: 53px;
    -webkit-transform: scale(.45,.45); 
    transform: scale(.45,.45); 
}

#tire_back3 { 
    position: absolute; 
    left: 41px;
    bottom: 53px;
    -webkit-transform: scale(.45,.45); 
    transform: scale(.45,.45); 
}

/* Fiat 500 */




#welcome{
    width: 900px;
    height: 1000px;
    position: absolute;
}

#div1{
    width: 50%;
    height: 100%;
    left: 0;
    background: #7fc5f5;
    position: absolute;
}

#div2{
    width: 50%;
    height: 100%;
    right: 0;
    background: #d0285d;
    position: absolute;
}

#transition{
    width: 2400px;
    height: 1200px;
    position: absolute;
    left: 740px;
}

/* First set of lines */

#tr1{
    width: 140px;
    height: 100%;
    background: #7fc5f5;
    position: absolute;
    display: inline-block;
}

#tr2{
    width: 140px;
    height: 100%;
    left: 140px;
    background: #56b08a;
    position: absolute;
    display: inline-block;
}

#tr3{
    width: 140px;
    height: 100%;
    left: 280px;
    background: #f1e957;
    position: absolute;
    display: inline-block;
}

#tr4{
    width: 140px;
    height: 100%;
    left: 420px;
    background: #b5171e;
    position: absolute;
    display: inline-block;
}
#tr5{
    width: 140px;
    height: 100%;
    left: 560px;
    background: #5472b1;
    position: absolute;
    display: inline-block;
}
#tr6{
    width: 140px;
    height: 100%;
    left: 700px;
    background: #eeb0d7;
    position: absolute;
    display: inline-block;
}
#tr7{
    width: 140px;
    height: 100%;
    left: 840px;
    background: #eeb0d7;
    position: absolute;
    display: inline-block;
}

/* Second set of lines */

#tr11{
    width: 140px;
    height: 100%;
    background: #7fc5f5;
    position: absolute;
    display: inline-block;
}

#tr22{
    width: 140px;
    height: 100%;
    left: 140px;
    background: #b5171e;
    position: absolute;
    display: inline-block;
}

#tr33{
    width: 140px;
    height: 100%;
    left: 280px;
    background: #eeb0d7;
    position: absolute;
    display: inline-block;
}

#tr44{
    width: 140px;
    height: 100%;
    left: 420px;
    background: #56b08a;
    position: absolute;
    display: inline-block;
}
#tr55{
    width: 140px;
    height: 100%;
    left:560px;
    background: #5472b1;
    position: absolute;
    display: inline-block;
}
#tr66{
    width: 140px;
    height: 100%;
    left: 700px;
    background: #f1e957;
    position: absolute;
    display: inline-block;
}
#tr77{
    width: 140px;
    height: 100%;
    left: 840px;
    background: #eeb0d7;
    position: absolute;
    display: inline-block;
}


#title1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 234px;
    pointer-events: none;
    letter-spacing: 1px;
    font-size: 48px;
    text-align: center;
    line-height: 1;
    font-family: 'FiatAdvert-Euro', Arial, sans-serif;
    text-transform: uppercase;
}


#subtitle1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 389px;
    pointer-events: none;
    letter-spacing: 1px;
    font-size: 26px;
    text-align: center;
    font-family: 'FiatAdvert-Euro', Arial, sans-serif;
    text-transform: uppercase;
}

#title2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 167px;
    pointer-events: none;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 24px;
    text-align: center;
    font-family: 'FiatAdvert-Euro', Arial, sans-serif;
    text-transform: uppercase;
}

#title3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 167px;
    pointer-events: none;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 24px;
    text-align: center;
    font-family: 'FiatAdvert-Euro', Arial, sans-serif;
    text-transform: uppercase;
}

#title4 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 167px;
    pointer-events: none;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 24px;
    text-align: center;
    font-family: 'FiatAdvert-Euro', Arial, sans-serif;
    text-transform: uppercase;
}

#title5 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 120px;
    color: #000;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 30px;
    text-align: center;
    font-family: 'FiatAdvert-Euro', Arial, sans-serif;
    text-transform: uppercase;
}

#subtitle5 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 186px;
    color: #000;
    letter-spacing: -0.7px;
    font-size: 16px;
    text-align: center;
    font-family: 'FiatAdvert-Euro', Arial, sans-serif;
    text-transform: uppercase;
}

#title6 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 208px;
    color: #000;
    pointer-events: none;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 20px;
    text-align: center;
    font-family: 'FiatAdvert-Euro', Arial, sans-serif;
    text-transform: uppercase;
}


#spotlight{ 
    background: transparent url('../img/spotlight.jpg') no-repeat; 
    width: 300px; 
    height: 250px;
    background-size: 300px 250px;
    position: absolute;
    top: 171px;
    } 


